body{
    background-color: rgb(172, 172, 181);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav{
    background-color: black;
    padding: 1%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  

.linha{
    
        width: 100%;
        height: 3px;
        background-color: #fff;
}

.titulo{
    font-size: 15px;
}
 

.sensei img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
    border: 5px solid   rgb(13, 13, 13);
}

video{
    width: 200px;
    height: 200px;
}

.paragrafo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* opcional: centraliza verticalmente se tiver altura */
    padding: 10px 20px;
    text-align: justify;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* opcional: centraliza verticalmente se tiver altura */
    padding: 10px 20px;
    text-align: justify;
}

footer{
    background-color: rgb(65, 61, 57);
    color: #fff;
    padding: 1%;
}